<ion-card>
	
	<ion-item>
		<ion-avatar item-start *ngIf='false'>
			<ion-icon name="nutrition"></ion-icon>
		</ion-avatar>
		<h2>{{food.name}}</h2>
	</ion-item>

	<ion-slides pager>

		<ion-slide *ngFor="let img of food.images; let i = index">
			<!-- <img [src]="food.images[i]"> -->
			<div class="food-pic" [ngStyle]="{ 'background-image': 'url(' + food.images[i] + ')' }"></div>
		</ion-slide>

	</ion-slides>
		
	<ion-card-content>
		<p>{{food.description}}</p>
	</ion-card-content>
	
	<ion-row padding>
		<!-- <ion-col>
			<p class="price">{{food.price | currency:'R$ '}}</p>
		</ion-col> -->
		<ion-col>
			<button ion-button block color="primary" icon-start (click)="select()">
				<ion-icon name="add"></ion-icon>
				Adicionar
			</button>
		</ion-col>
	</ion-row>
		
</ion-card>