page-map {
	.scroll-content {
		// background-color: #cdcdcd !important;
	}

	#map_canvas {
		width: 100%;
		height: calc(100% - 200px + 64px);
		background-color: black;
		position: relative;
		margin-top: -64px;

		.marker-v, .marker-h {
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: red;
		}

		.marker-v {
			width: 1px;
			height: 30px;
		}

		.marker-h {
			width: 30px;
			height: 1px;
		}

		p {
			margin: auto;
			position: absolute;
			right: 10px;
			top: 30px;
		}
	}

	.info {
		height: 200px;
		position: relative;
		z-index: 10;
		box-shadow: 0 0 4px rgba(#000, .3);
		padding: 14px;
		background-color: white;
	}
}
