<ion-menu [content]="content" swypeEnabled="false">
	<ion-header>
		<ion-toolbar>
			<div class="user-data" menuClose (click)="openProfilePage()" *ngIf="getUser()">
				<ion-grid>
					<ion-row>
						<ion-col class="avatar" col-auto>
							<ion-icon name="contact" *ngIf="!getUser().imageUrl"></ion-icon>
							<img [src]="getAvatar() | safe" *ngIf="getUser().imageUrl"/>
						</ion-col>
						<ion-col class="info">
							<b class="name">{{getUser().name}}</b>
							<span class="email">{{getUser().email}}</span>
							<span class="credits">
								{{getUser().person.getTotalCredit()}} {{getUser().person.getTotalCredit() == 1 ? 'crédito' : 'créditos'}}
							</span>
						</ion-col>
						<ion-col class="see-more" col-auto>
							<ion-icon name="arrow-dropright"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
			<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
				{{p.title}}
			</button>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>