// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Compass 
// --------------------------------------------------

.ios {
	page-register, page-profile {
	  	.scroll-content {
			-webkit-overflow-scrolling: auto !important;
		}
	}
}

@font-face {
	font-family: 'Kalam';
	src: url('../assets/fonts/Kalam.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.offset-top-15 {
	margin-top: 15px;
}

.offset-top-30 {
	margin-top: 30px;
}

.offset-top-60 {
	margin-top: 60px;
}

.offset-bottom-15 {
	margin-bottom: 15px;
}

.offset-bottom-30 {
	margin-bottom: 30px;
}

.offset-bottom-60 {
	margin-bottom: 60px;
}

.text-md {
	font-size: 16px;
}

.text-right {
	text-align: right;
}

.text-primary {
	color: color($colors, 'primary');
}

.no-padding {
	padding: 0;
}

ion-nav {
	margin-bottom: 56px !important;
}

.user-data {
	$height: 70px;
	height: $height;

	.avatar {
		width: 65px;
		height: 65px;
		// display: inline-block;
		// margin-left: 5px;

		text-align: center;
		font-size: 35px;
		color: #aaa;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	.info {
		width: auto;
		height: $height;
		// display: inline-block;
		padding-left: 5px;

		.name {
			font-size: 16px;
			display: block;
		}

		.email {
			margin-top: 3px;
			font-size: 13px;
			color: #999;
			display: block;
		}

		.credits {
			margin-top: 3px;
			font-size: 13px;
			color: color($colors, primary);
			display: block;
		}
	}

	.see-more {
		padding: 15px 5px;
		float: right;
		color: color($colors, primary);
	}
}