page-food-list {
	.scroll-content {
		// $brightened: lighten(color($colors, primary), 55%);
		// $desaturated: desaturate($brightened, 55%);
		background-color: #cdcdcd !important;
	}

	.segment.segment-ios {
		padding: 0 7px;
	}

	ion-segment {
		background-color: color($colors, primary);

		&.segment.segment-ios {
			padding: 7px;

			.segment-button {
				border-color: rgba(#fff, .4);
			}
		}
	}

	ion-card {
		.picture {
			width: 100%;
			height: 240px;
			background-size: cover;
			background-position: center;
		}
	}
}
