<!--
	Generated template for the PreferencesPage page.
	
	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Preferências</ion-title>
	</ion-navbar>
	
</ion-header>


<ion-content>

	<ion-item-group>
		<button ion-item (click)="openProfile()">
			<ion-avatar item-start>
				<ion-icon name="contact" *ngIf="!user.imageUrl"></ion-icon>
				<img [src]="user.imageUrl" *ngIf="user.imageUrl" alt="">
			</ion-avatar>
			<h2>{{user.name}}</h2>
			<h3>Plano {{user.plan.name}}</h3>
			<p>{{user.email}}</p>
		</button>
	</ion-item-group>

	<ion-item-group>
		<ion-item-divider color="light">Conta</ion-item-divider>

		<button ion-item (click)="changePassword()">
			Trocar senha
		</button>
		<button ion-item>
			Meus endereços
		</button>
		<button ion-item>
			Suspender serviço
		</button>
	</ion-item-group>

	<ion-item-group>
		<ion-item-divider color="light">Privacidade</ion-item-divider>

		<button ion-item *ngIf="false">
			Localização
		</button>
		<ion-item>
			<ion-label>Notificações</ion-label>
			<ion-toggle [(ngModel)]="isNotificationOn" (ngModelChange)="toggleNotifications()"></ion-toggle>
		</ion-item>
	</ion-item-group>

	<ion-item-group>
		<ion-item-divider color="light">Geral</ion-item-divider>

		<button ion-item (click)="openAgreement()">
			Termos e condições de uso
		</button>
		<button ion-item (click)="showVersion()">
			Versão do aplicativo
		</button>
		<button ion-item (click)="openAbout()">
			Sobre
		</button>
	</ion-item-group>

	<ion-item-group>
		<ion-item-divider color="light">Avançado</ion-item-divider>

		<button ion-item (click)="logout()">
			Sair
		</button>
	</ion-item-group>

</ion-content>
